*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
   border: 2px solid black;  
/* width: 250px;  */
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
height: 100vh;

}
.container1{
    /* border: 2px solid black ; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input{
    width: 250px;
    height: 40px;
    border-radius: 30px;
    padding: 5px 5px;
    margin: 5px 5px;
}
h1{
    margin: 5px 0px;
    padding: 5px 0px;
}